<%- include('partials/header') -%>
        <nav class="navbar navbar-expand-sm bg-warning navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="color1" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="color2"href="/mercury">Mercury</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"id="color3" href="/venus">Venus</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="color4" href="/earth">Earth</a>
            </li>
            <li class="nav-item"class="nav-item active">
              <a class="nav-link" id="color5" href="/bye">The End</a>
            </li>
          </ul>
        </nav>
        <h1> Welcome to Earth!</h1>
        <div class="float-sm-left"><br><br><br>
        The Earth is a rocky and terrestrail planet that has a solid,<br>
        active surface. It has mountains, valleys, canyons, and so <br>
        much more. Another thing is that 70% of planet is covered by<br>
        water. The atmosphere is mostly nitrogen and has a lot of <br>
        oxygen. Additionally, a day on Earth is 24 hours and a year<br>
        is 365 days. The Earth is the only planet that has a moon. Venus<br>
        and Mars are Earth's neighbor planets.
        </div> 
        <img src="/img/earth.gif" width="550px" height="500px" alt="Earth"/>
<%- include('partials/footer') -%>