<%- include('partials/header') -%>
        <nav class="navbar navbar-expand-sm bg-warning navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" id="color1" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="color2" href="/mercury">Mercury</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="color3" href="/venus">Venus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="color4" href="/earth">Earth</a>
            </li>
            <li class="nav-item"class="nav-item active">
              <a class="nav-link" id="color5" href="/bye">The End</a>
            </li>
          </ul>
        </nav>
        
        <h1> Welcome to the Solar System Site!</h1>
        <p>Click on a planet to know more about it:</p>
        <div class="float-sm-left"><br><br><br><br>In this Solar System webpage you will be learning about the<br>
        Solar System. However it will be focusing on <br>Mercury, Venus, and Earth.</div> 
        
        <!--<a href="/mercury"> Mercury</a> <br>-->
        <!--<a href="/venus"> Venus</a> <br>-->
        <!--<a href="/earth"> Earth</a> <br>-->
        
        <!--Earth <br>-->
        <img src="/img/solarg.gif" width="500px" height="500px" alt="The Solar System"/>
<%- include('partials/footer') -%>