<%- include('partials/header') -%>
        <nav class="navbar navbar-expand-sm bg-warning navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="color1"href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="color2" href="/mercury">Mercury</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"id="color3" href="/venus">Venus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="color4" href="/earth">Earth</a>
            </li>
            <li class="nav-item"class="nav-item active">
              <a class="nav-link" id="color5" href="/bye">The End</a>
            </li>
          </ul>
        </nav>
        <h1> Welcome to Mercury!</h1>

        <div class="float-sm-left"><br><br>Mercury is the smallest in the solar system. It is the closest <br>planet
        to the sun and one of the rocky planets. The surface is<br> solid and it is covered with craters. Also it
        has an atmosphere<br> that is thin, and has no moons. It takes up about 59 Earthdays<br>
        to do a full rotation. In addition, a year on Mercury occurs very<br>
        quickly due to the fact that it is close to the sun. This means<br>
        that it does not take that long to go all the way around. So, it<br>
        completes one revolution around the sun in just 88 Earthdays.</div> 
        <img src="/img/mercury.gif" width="500px" height="400px" alt="Mercury"/>
<%- include('partials/footer') -%>