<%- include('partials/header') -%>
        <nav class="navbar navbar-expand-sm bg-warning navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="color1" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="color2" href="/mercury">Mercury</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="color3" href="/venus">Venus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="color4" href="/earth">Earth</a>
            </li>
            <li class="nav-item"class="nav-item active">
              <a class="nav-link" id="color5" href="/bye">The End</a>
            </li>
          </ul>
        </nav>
        <h1> Welcome to Venus!</h1>
        <div class="float-sm-left"><br><br>Venus is the planet that is the hottest even though<br>
        it is not close to the sun. It has an atmosphere that <br>
        is thick and it is full of greenhouse gases, carbon<br>
        dioxide, and clouds of sulfuric acid. The gases gets<br>
        heat and it keeps the planet from getting super warm. <br>
        This planet also contains volcanoes and mountains. It<br>
        spins on the opposite direction of the Earth and it<br>
        rotation is very slow, meaning it takes up about 243<br>
        Earthdays to spin once. Venus also has no moons <br>like Mercury.
        </div> 
        <img src="/img/venus.gif" width="700px" height="500px" alt="Venus"/>
<%- include('partials/footer') -%>